<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002792793206-2hcv7m3qu87cmgb80pek2k0vqkts61jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002792793206-2hcv7m3qu87cmgb80pek2k0vqkts61jo</string>
	<key>API_KEY</key>
	<string>AIzaSyAEtE-kVAmyHUuAUIVuODnAnWRR6QcxYyI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002792793206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieSample</string>
	<key>PROJECT_ID</key>
	<string>movie-sample-d50cc</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-sample-d50cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002792793206:ios:a33252a03f8b1a4bb05b57</string>
</dict>
</plist>